<div class="bg-nav pad-10">
  <div class="p-0">
    <div class="text-white">
      <div class="p-0" href="#">
        <img src="./assets/images/logo_v3.svg" width="40px" alt="">
        <span class="pl-3 fs-16"> StoreKing - Bazaar</span>
        <span class="fs-26 float-right">
          <i class="fa fa-globe" (click)="changeLanguage()"></i></span>
      </div>
    </div>
  </div>
</div>

<div class="containe">
  <!-- HEADER START -->
  <div class="header-bg bg-cover marb">
    <section class="sticky">
      <div class="bubbles">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
      </div>
    </section>
    <div class="container text-center">
      <div class="text-light py-3">
        <div class="mb-2 wow fadeInDown" data-wow-duration="1.3s" data-wow-delay="0.2s">
          <div class="title">
            Building Rural
          </div>
          <div class="title-1 font-weight-bold">India's Largest Marketplace</div>
        </div>

        <div class="mb-5 wow fadeInDown" [ngClass]="desktop?'fs-20':'fs-16'" data-wow-duration="1.3s"
          data-wow-delay="0.2s">
          Unique Platform connecting the buyer's & Seller with Payment, Technology & Logistics.
        </div>
      </div>
    </div>

    <div class="text-center wow zoomIn" data-wow-duration="1.3s" data-wow-delay="0.2s">
      <img src="./assets/images/bazaar_top-Image.png" class="banner-img" alt="">
    </div>
  </div>
  <!-- HEADER END -->

  <!-- ABOUT START -->
  <div class="container marb">
    <div class="marb">
      <div class="color-primary font-weight-bold mb-2 join wow fadeInDown" data-wow-duration="1.3s"
        data-wow-delay="0.2s">
        Storeking Bazaar
      </div>

      <div class="fs-16 wow fadeInDown" data-wow-duration="1.3s" data-wow-delay="0.4s">
        Building Rural India’s largest Market Place to Support 600+ Million Customers
      </div>
    </div>

    <div>
      <div class="color-primary font-weight-bold mb-2 join wow fadeInDown" data-wow-duration="1.3s"
        data-wow-delay="0.2s">
        Building Rural India's Largest Marketplace
      </div>

      <div class="fs-16 wow fadeInDown" data-wow-duration="1.3s" data-wow-delay="0.4s">
        Storeking Marketplace is the one – stop shop for all major product & services needs of the rural consumer,
        making
        the Storeking Rural
        Franchise as an anchor between the Service Provider & Consumer.
      </div>
    </div>
  </div>

  <div class="container marb">
    <div class="row text-center align-items-center">
      <div class="col-12 col-md-2 mb-5">
        <div class="wow zoomIn" data-wow-duration="1.3s" data-wow-delay="0.3s">
          <img src="./assets/images/market/sk_store.svg" [ngClass]=" desktop?'w-200':'w-250'" alt="">
        </div>
        <div class="text-center color-primary wow fadeInDown fs-20" data-wow-duration="1.3s" data-wow-delay="0.2s">
          Retailer as Marketplace
        </div>
      </div>

      <div class="col-4 col-md-2 mb-5" *ngFor="let m of market">
        <div class="wow zoomIn" data-wow-duration="1.3s" data-wow-delay="0.3s">
          <img [src]="m.icon" [ngClass]=" desktop?'weight':'w-75'" alt="" class="wow ZoomIn" data-wow-duration="1.3s"
            data-wow-delay="0.3s">
        </div>
        <div class="text-center fs-20 color-primary wow fadeInDown" data-wow-duration="1.3s" data-wow-delay="0.2s">
          {{m.title}}
        </div>
      </div>
    </div>

    <div class="wow fadeInDown" data-wow-duration="1.3s" data-wow-delay="0.2s">
      StoreKing Bazaar, enables Buying & Selling of Products & Offering Listings like Rent, Services & Jobs to Rural
      India
      through a StoreKing RF From Cows to Goats, Tractors to Mopeds, Jobs to Homes & from farm to table all under one
      Roof.
    </div>
  </div>
  <!-- ABOUT END -->

  <!-- ADVANTAGES START -->
  <div style="background-color: rgb(246,248,254);" class="marb pad-y">
    <div class="container">
      <div class="color-primary font-weight-bold mb-5 join  wow fadeInDown" data-wow-duration="1.3s"
        data-wow-delay="0.2s">
        SK Bazaar Advantages:
      </div>

      <div class="row">
        <div class="col-12 col-md-6 mb-4" *ngFor="let a of advantages">
          <div class="container">
            <div class="row">
              <div class="col-2 col-md-1  wow fadeInRight" data-wow-duration="1.3s" data-wow-delay="0.2s">
                <img src="./assets/images/sell_1.svg" width="30px" alt="">
              </div>

              <div class="col-10 col-md-11  wow fadeInRight" [ngClass]="{'p-0':!desktop}" data-wow-duration="1.8s"
                data-wow-delay="0.5s">
                {{a.text}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ADVANTAGES END -->

  <!-- HOW B&S WORKS START -->
  <div class="container marb">
    <div class="color-primary font-weight-bold join">
      How Buy & Sell works?
    </div>

    <div class="marb wow zoomIn img-scroll" data-wow-duration="1.3s" data-wow-delay="0.3s">
      <img class="img" src="./assets/images/steps/step_1.jpg" alt="">
    </div>
  </div>

  <div style="background-color: rgb(246,248,254);" class="marb py-4">
    <div class="container">
      <div class="marb wow zoomIn img-scroll" data-wow-duration="1.3s" data-wow-delay="0.3s">
        <img class="img" src="./assets/images/steps/step_2.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="marb wow zoomIn img-scroll" data-wow-duration="1.3s" data-wow-delay="0.3s">
      <img class="img" src="./assets/images/steps/step_3.jpg" alt="">
    </div>
  </div>

  <div style="background-color: rgb(246,248,254);" class="marb py-4">
    <div class="container">
      <div class="marb wow zoomIn img-scroll" data-wow-duration="1.3s" data-wow-delay="0.3s">
        <img class="img" src="./assets/images/steps/step_4.jpg" alt="">
      </div>
    </div>
  </div>
  <!-- HOW B&S WORKS END -->

  <!-- WHAT YOU GET FROM STOREKING START -->
  <div class="container marb pad-y">
    <div class="color-primary font-weight-bold mb-5  join wow fadeInDown" data-wow-duration="1.3s"
      data-wow-delay="0.2s">
      SK Bazaar Advantages:
    </div>

    <div class="row">
      <div class="col-12 col-md-6 mb-4" *ngFor="let sk of advantagesFromSK">
        <div class="container">
          <div class="row">
            <div class="col-2 col-md-1  wow fadeInRight" data-wow-duration="1.3s" data-wow-delay="0.2s">
              <img src="./assets/images/sell_1.svg" width="30px" alt="">
            </div>

            <div class="col-10 col-md-11  wow fadeInRight" [ngClass]="{'p-0':!desktop}" data-wow-duration="1.8s"
              data-wow-delay="0.5s">
              {{sk.text}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  WHAT YOU GET FROM STOREKING END -->

  <!-- LISTED START -->
  <div class="container">
    <div class="color-primary font-weight-bold mb-2 join  wow fadeInDown" data-wow-duration="1.3s"
      data-wow-delay="0.2s">
      What Can be listed in Bazaar
    </div>

    <div class="fs-16 marb  wow fadeInDown" data-wow-duration="1.3s" data-wow-delay="0.3s">
      Current focus of Bazaar are
    </div>

    <div class="container marb">
      <div class="row text-center align-items-center marb">
        <div class="col-6 col-md-3 mb-3" *ngFor="let l of listed">
          <img [src]="l.icon" width="150px" class=" wow zoomIn" data-wow-duration="1.3s" data-wow-delay="0.2s" alt="">
          <div class="text-center  wow fadeInDown" data-wow-duration="1.3s" data-wow-delay="0.2s">
            {{l.title}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- LISTED END -->

  <!-- FOOTER START -->
  <div style="background-color: rgb(246,248,254);" class="py-5">
    <div class="container text-center">
      <img src="./assets/images/bazaar_logo.svg" class="mb-3 wow zoomIn" data-wow-duration="1.3s" data-wow-delay="0.2s"
        width="100%" alt="">

      <div class="color-warning font-weight-bold mb-2 footer-header wow fadeInDown" data-wow-duration="1.3s"
        data-wow-delay="0.2s">
        25000+ Listings across India
      </div>

      <div class="color-primary footer-title  wow fadeInDown" data-wow-duration="1.3s" data-wow-delay="0.2s">
        More than 1 Lakh Rural Population Benefited
      </div>
    </div>
  </div>
  <!-- FOOTER END -->
</div>